body {
  background-color: #141b21;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: end;
    color: wheat;
    font-size: 100px;
    margin-bottom: 0;
}

.container {
  border-radius: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.leftColumn {
  margin-right: 100px;
}
.rightColumn {
  margin-left: 100px;
}

.box {
  resize: both;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* first value is Y axis, second is X axis */
  padding: 0.5rem 1rem;
  margin: 0.8rem;
  border: 2px solid #323c45;
  border-bottom-width: 4px;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  font-size: calc(2vw + 2vh);
}

/* this will define the styles when hovering over the box */
.box:hover {
  background-color: #1d282d;
}

.selected {
  border-color: #407594;
  color: #407594;
}

.correct {
  border-color: #527324;
  color: #527324;
}

/* notice that the .box.wrong class is defined after .box.selected so it will override the background-color property  */
.wrong {
  border-color: #ff6b6b;
  color: #ff6b6b;
}

#glossaryContainer {
  border-radius: 25px;
  width: 500px;
  height: fit-content;
  color: antiquewhite;
  background-color: #1d282d;
  font-size: 35px;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0 10px;
}

#leftValueRightValue {
  height: 20%;
  margin: 30px;
  margin-bottom: 15px;
}

#glossary {
  text-align: center;
  height: fit-content;
  font-size: 80px;
  padding-bottom: 30px;
  border-radius: 25px;
  background-color: #1d282d;
  color: antiquewhite;
  margin: 0 10px;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: #141b21;
}

.container.license {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin-bottom: 30px;
  margin-top: 130px;
  padding: 10px 15px;
}

.license {
  background-color: #1d282d;
  color: antiquewhite;
  font-size: 20px;
  border-radius: 25px;
}

.buttonAndLicenseContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  visibility: hidden;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 13px;
  border-radius: 25px;
  background-color: antiquewhite;
  color: #1d282d;
  letter-spacing: 4px;
}

.menuButtonContainer {
  margin: 5px;
  padding: 10px;
  border-radius: 25px;
}

#word {
  text-align: center;
  font-size: 100px;
  margin: 30px;
  padding: 15px;
  border-radius: 25px;
  background-color: #1d282d;
  color: antiquewhite;
}

#userInput {
  text-align: center;
  font-size: 100px;
  margin: 30px;
  padding: 15px;
  border-radius: 25px;
  background-color: #1d282d;
  color: antiquewhite;
}



#stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  background-color: #00FF00;
}

.wordMadnessButtonAndLicenseContainer {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}