body {
  background-color: #141b21;
}
.container {
  border-radius: 100;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.kanji,
.english {
  margin: auto;
}

.box {
  /* first value is Y axis, second is X axis */
  padding: 0.5rem 1rem;
  margin: 0.8rem;
  border: 2px solid #323c45;
  border-bottom-width: 4px;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  font-size: 1.2rem;
}

/* this will define the styles when hovering over the box */
.box:hover {
  background-color: #1d282d;
}

.selected {
  border-color: #407594;
  color: #407594;
}

.correct {
  border-color: #527324;
  color: #527324;
}

/* notice that the .box.wrong class is defined after .box.selected so it will override the background-color property  */
.wrong {
  border-color: #ff6b6b;
  color: #ff6b6b;
}
